.master-item {
    display: flex;

    &__photo {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin-right: 2rem;
    }

    &__user-image {
        position: relative;
        &-instagram {
            position: absolute;
            bottom: 3px;
            right: 14px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                fill: #fff;
                background-color: var(--color-primary);
            }
        }
    }

    &__info {
        &-name {
            font-weight: 600;
        }

        &-job {
            font-weight: 100;
            font-size: 1.3rem;
        }
    }

    &__icon {
        width: 2.9rem;
        height: 2.9rem;
    }
}