.btn {

    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;

    &--link {
        &:hover {
            color: var(--color-primary);
        }
        
    }

    &--primary {
        padding: 1rem 2rem;
        background-color: var(--color-primary);
        color: #fff;
        border-radius: 50px;
        
        &:hover {
            background-color: var(--color-primary-dark);
        }
    }

    &--green {
        background-color: #0CB34F;
        color: #ffffff;
        padding: 1rem 2rem;
        border-radius: 50px;

        &:hover {
            background-color: darken(#0CB34F, 3%);
        }
    }
}