@import "../../../styles/abstracts/mixins";

.widget__modal {
    width: 60rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    border-radius: 7px;
    overflow: hidden;
    // transform: translate(-50%, -50%);
    z-index: 9999;

    @include respond(phone) {
        width: 100%;
    }

    &--header {
        padding: 2rem;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 2rem;

        &--close {
            cursor: pointer;
            font-size: 3rem;
        }
    }
}