
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: $font-primary;
    color: var(--color-grey-dark-2);
    font-weight: 300;
    line-height: 1.6;
}

.container {
    max-width: $max-width;
    margin: auto;
}

.signup-wrapper {
    display: flex;
    justify-content: space-between;

    height: 100vh;
    font-size: 1.5rem;
}

::-webkit-scrollbar-track
{
    background-color: var(--color-grey-light-1);
}

::-webkit-scrollbar
{
    width: 3px;
    background-color: var(--color-grey-light-1);
}

::-webkit-scrollbar-thumb
{
    background-color: var(--color-grey-dark-3);
}

::selection {
    color: #fff; 
    background: var(--color-grey-dark-1);
}

